<!DOCTYPE html>
<html lang="en">
<head> 
	<meta charset="UTF-8">
	<title> Promedio Estudiantes </title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Bootstrap css -->
  	<link rel="stylesheet" href="/css/bootstrap.min.css"  type="text/css">
</head>
<body>
	<div class="jumbotron">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3">
					<h1>{{titulo}}</h1>
				</div>
				<div class="col-sm-9">
					<img src="img/banner.png" class="img-fluid" width="100%"  height="70%">
				</div>
			</div>
		</div>
	</div>
	

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-link"  href="/" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
    <a class="nav-link" href="/crearCursos" role="tab" aria-controls="nav-profile" aria-selected="true">Crear Curso</a>
    <a class="nav-link" href="/listar_cursos" role="tab" aria-controls="nav-profile" aria-selected="true">Cursos</a>
    <a class="nav-link" href="/inscripcion" role="tab" aria-controls="nav-profile" aria-selected="true">Inscripcion</a>
    <a class="nav-link" href="/verInscriptos" role="tab" aria-controls="nav-profile" aria-selected="true">Ver Inscritos</a>
  </div>
</nav>

